



@{
    ViewBag.Title = "Graph";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model DotNet.Highcharts.Highcharts

<h2>Graph</h2>

@(Model)

<div id="container" style="width:75%; height:400px;"></div>

