



@{
    ViewBag.Title = "Graph";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model DotNet.Highcharts.Highcharts

<h2>Graph</h2>



<div id="container" style="width:75%; height:500px;">@(Model)</div>

